.icon-shouji-lan {
    color: blue;
}

.icon-fej {
    color: orange;
}

.buttom_content .iconfont {
    width: 20px;
    height: 20px;
    font-size: 25px;
}

.icon-youjiantou {
    font-size: 13px;
}
.icon-shouji-green {
    color: green;
}
.icon-shouji-red {
    color: red;
}
.icon-shouji-orange {
    color: orange;
}